<footer>
  <div class="container">
    <div class="row" >
      <div class="col-md-5" style="float:left;">
        <h1 class="footer-logo" >
          <%= link_to image_tag("images/Onest-logo_B02.png", :alt => "Onest", class: "logo") %>
        </h1>
        <p>© Onest 2015 - <a href="#">Licence</a> - Designed &amp; Developed by DK</a></p>
      </div>
      <div class="col-md-7" style="float:left; position:relative;">
        <ul class="footer-nav">
          <li>サービス概要</li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
        </ul>
      </div>
    </div>
  </div>
</footer>