<footer>
  <div class="container text-center">
    <div class="row">
      <div class="span5">
        <h1 class="footer-logo" >
          <%= link_to image_tag("images/Onest-logo_B02.png", :alt => "Onest") %>
        </h1>
        <small>Copyright © <a href="#">Onest</a> &amp; Company 2015. All rights reserved.</small>
      </div>
      <div class="span7">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#">サービス概要</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>